extends ../layout

block content
  div.container
    div.row
      div.col-md-6
        // Email login
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Preview your emails before you buy!
          div#emails.panel-body
            form.form-horizontal(role='form')
              div.form-group
                label.col-sm-2.control-label(for='inputEmail1') Email
                div.col-sm-10
                  input#inputEmail1.form-control(value='Gogo3dprinter@gmail.com'
                                                 type='email',
                                                 placeholder="Enter email")
              div.form-group
                  label.col-sm-2.control-label(for='inputPassword1') Password
                  div.col-sm-10
                    input#inputPassword1.form-control(value='gogomail',
                                                      type='password',
                                                      placeholder='Password')
              div.form-group
                div.col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Submit

      div.col-md-6
        // Nav tabs
        ul.nav.nav-tabs
          li.active
            a(href='#wsj', data-toggle='tab') Wall Street Journal
          li
            a(href='#espn', data-toggle='tab') ESPN
          li
            a(href='#people', data-toggle='tab') People
          li
            a(href='#cnn', data-toggle='tab') CNN
          li
            a(href='#reuters', data-toggle='tab') Reuters

        // Tab panes
        div(class='tab-content')
          div.tab-pane.active#wsj
            | ...
          div.tab-pane#espn
            | ...
          div.tab-pane#people
            | ...
          div.tab-pane#cnn
            | ...
          div.tab-pane#reuters
            | ...

  if env === 'development'
    //-<!-- build:js dist/js/index.js -->
    script(src='/js/index.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/js/underscore.tap.js')
    script(src='/components/fastclick/lib/fastclick.js')
    script(src='/components/Verimail.js/src/verimail.jquery.js')
    script(src='/components/visibilityjs/lib/visibility.core.js')
    script(src='/components/visibilityjs/lib/visibility.fallback.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    //-<!-- endbuild -->
  else
    script(src='/js/index.js')

  script.
    $(function() {
      app();
    });
